{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-black-40 bg-image "  data-bg="{% static 'img/bg/21.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">فروشگاه ساید بار چپ</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> صفحه اصلی</a></li>
                                <li>چپ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
    
    <!-- PRODUCT DETAILS AREA START -->
    <div class="ltn__product-area ltn__product-gutter mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__shop-options">
                        <ul>
                            <li>
                                <div class="ltn__grid-list-tab-menu ">
                                    <div class="nav">
                                        <a class="active show" data-toggle="tab" href="#liton_product_grid"><i class="fas fa-th-large"></i></a>
                                        <a data-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                               <div class="showing-product-number text-right">
                                    <span>نمایش 1-12 از 18 نتیجه</span>
                                </div> 
                            </li>
                            <li>
                               <div class="short-by text-center">
                                    <select class="nice-select">
                                        <option>مرتب‌سازی پیش‌فرض</option>
                                         <option>مرتب‌سازی بر اساس محبوبیت</option>
                                         <option>مرتب‌سازی بر اساس ورودی‌های جدید</option>
                                         <option>مرتب‌سازی بر اساس قیمت: کم به زیاد</option>
                                         <option>مرتب‌سازی بر اساس قیمت: زیاد به پایین</option> 
                                    </select>
                                </div> 
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_product_grid">
                            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Search Widget -->
                                        <div class="ltn__search-widget mb-30">
                                            <form action="{% url 'listings:search' %}">
                                                <input type="text" name="s" placeholder="جستجو برای ...">
                                                <button type="submit"><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- ltn__product-item -->
                                    {% for prop in property %}
                                    <div class="col-xl-6 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                            <div class="product-img">
                                                <a href="{% url 'listings:property' slug=prop.property.slug %}"><img src="{{ prop.picture.picture.url|default:'/media/defaultpic.jpg' }}" alt="{% url 'listings:property' slug=prop.property.slug %}"></a>
                                                <div class="real-estate-agent">
                                                    <div class="agent-img">
                                                        <a href="team-details.html"><img src="{% static 'img/blog/author.jpg' %}" alt="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badg">{{prop.property.type_of_contract}}</li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="{% url 'listings:property' slug=prop.property.slug %}">{{prop.property.name}}</a></h2>
                                                <div class="product-img-location">
                                                    <ul>
                                                        <li>
                                                            <a href="{% url 'listings:property' slug=prop.property.slug %}"><i class="flaticon-pin"></i>{{prop.property.city.name}}, {{prop.property.address}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                    <li><span>{{prop.belongings.baths}} </span>
                                                        سرویس بهداشتی
                                                    </li>
                                                    <li><span>{{prop.belongings.rooms}} </span>
                                                        اتاق
                                                    </li>
                                                    <li><span>{{prop.property.square_m}}</span>
                                                        متر
                                                    </li>
                                                </ul>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="#" title="مشاهده سریع" data-toggle="modal" data-target="#quick_view_modal">
                                                                <i class="flaticon-expand"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="علاقه مندی" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                                <i class="flaticon-heart-1"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="product-details.html" title="جزئیات محصول">
                                                                <i class="flaticon-add"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info-bottom">
                                                <div class="product-price">
                                                    {% if prop.property.type_of_contract == 'اجاره'%}
                                                    <span><label>{{prop.property.price|intcomma:False}} تومان - {{prop.property.rent|intcomma:False}} تومان</label></span>
                                                    {% else %}
                                                    <span><label>{{prop.property.price|intcomma:False}} تومان</label></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_product_list">
                            <div class="ltn__product-tab-content-inner ltn__product-list-view">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Search Widget -->
                                        <div class="ltn__search-widget mb-30">
                                            <form action="{% url 'listings:search' %}">
                                                <input type="text" name="s" placeholder="جستجو برای ...">
                                                <button type="submit"><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- ltn__product-item -->
                                    {% for prop in property %}
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5">
                                            <div class="product-img">
                                                <a href="{% url 'listings:property' slug=prop.property.slug %}"><img src="{{ prop.picture.picture.url|default:'/media/defaultpic.jpg' }}" alt="{% url 'listings:property' slug=prop.property.slug %}"></a>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-badge-price">
                                                    <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badg">{{prop.property.type_of_contract}}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-price">
                                                        {% if prop.property.type_of_contract == 'اجاره'%}
                                                        <span><label>{{prop.property.price|intcomma:False}} تومان - {{prop.property.rent|intcomma:False}} تومان</label></span>
                                                        {% else %}
                                                        <span><label>{{prop.property.price|intcomma:False}} تومان</label></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <h2 class="product-title"><a href="{% url 'listings:property' slug=prop.property.slug %}">{{prop.property.name}}</a></h2>
                                                <div class="product-img-location">
                                                    <ul>
                                                        <li>
                                                            <a href="locations.html"><i class="flaticon-pin"></i>{{prop.property.city.name}}, {{prop.property.address}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                    <li><span>{{prop.belongings.baths}} </span>
                                                        سرویس بهداشتی
                                                    </li>
                                                    <li><span>{{prop.belongings.rooms}} </span>
                                                        اتاق
                                                    </li>
                                                    <li><span>{{prop.property.square_m}}</span>
                                                        متر
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product-info-bottom">
                                                <div class="real-estate-agent">
                                                    <div class="agent-img">
                                                        <a href="team-details.html"><img src="{% static 'img/blog/author.jpg' %}" alt="#"></a>
                                                    </div>
                                                    <div class="agent-brief">
                                                        <h6><a href="team-details.html">طراحان وب</a></h6>
                                                        <small>مدیریت املاک</small>
                                                    </div>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="#" title="مشاهده سریع" data-toggle="modal" data-target="#quick_view_modal">
                                                                <i class="flaticon-expand"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="علاقه مندی" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                                <i class="flaticon-heart-1"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="product-details.html" title="جزئیات محصول">
                                                                <i class="flaticon-add"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ltn__pagination-area text-center">
                        <div class="ltn__pagination">
                            <ul>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                        <h3 class="mb-10">اطلاعات پیشرفته</h3>
                        <label class="mb-30"><small>حدود 9620 نتیجه (0.62 ثانیه) </small></label>
                        <!-- Advance Information widget -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title">نوع ملک</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">خانه
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,924</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">تک نفره
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,610</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">آپارتمان
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,912</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">ویلا
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,687</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">مغازه
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">1,853</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">استودیو
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">893</span>
                                </li>
                            </ul>
                            <hr>
                            <h4 class="ltn__widget-title">امکانات</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">ماشین ظرفشویی
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,924</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">کفپوش
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,610</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">اینترنت
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,912</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">کمد دیواری
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,687</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">سوپرمارکت
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">1,853</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">زمین بازی
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">893</span>
                                </li>
                            </ul>
                            <hr>
                            <h4 class="ltn__widget-title">حدود قیمت</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">بودجه کم
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">5 میلیون تا 10 میلیون</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">بودجه متوسط
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">10 میلیون تا 20 میلیون</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">بودجه زیاد
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">20 میلیون تا 30 میلیون</span>
                                </li>
                            </ul>
                            <hr>
                            <!-- Price Filter Widget -->
                            <div class="widget--- ltn__price-filter-widget">
                                <h4 class="ltn__widget-title ltn__widget-title-border---">فیلتر قیمت</h4>
                                <div class="price_filter">
                                    <div class="price_slider_amount">
                                        <input type="submit"  value="حدود قیمت:"/> 
                                        <input type="text" class="amount" name="price"  placeholder="قیمت خود را اضافه کنید" /> 
                                    </div>
                                    <div class="slider-range"></div>
                                </div>
                            </div>
                            <hr>
                            <h4 class="ltn__widget-title">حمام</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">تک نفره
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,924</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">دوبل
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,610</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">تعداد 3 به بالا
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,912</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">تعداد 5 به بالا
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,687</span>
                                </li>
                            </ul>
                            <hr>
                            <h4 class="ltn__widget-title">دسته بندی</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">خرید
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,924</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">امتیاز
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,610</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">فروش
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,912</span>
                                </li>
                            </ul>
                        </div>
                        <!-- Category Widget -->
                        <div class="widget ltn__menu-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">دسته بندی محصولات</h4>
                            <ul>
                                <li><a href="#">املاک <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <li><a href="#">ملک<span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <li><a href="#">آپارتمان<span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <li><a href="#">ویلایی <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <li><a href="#">مغازه <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <li><a href="#">رهن <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <li><a href="#">اجاره <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                            </ul>
                        </div>
                        <!-- Price Filter Widget -->
                        <div class="widget ltn__price-filter-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">فیلتر با قیمت</h4>
                            <div class="price_filter">
                                <div class="price_slider_amount">
                                    <input type="submit"  value="حدود قیمت:"/> 
                                    <input type="text" class="amount" name="price"  placeholder="قیمت خود را اضافه کنید" /> 
                                </div>
                                <div class="slider-range"></div>
                            </div>
                        </div>
                        <!-- Top Rated Product Widget -->
                        <div class="widget ltn__top-rated-product-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">محصولات دارای امتیاز برتر</h4>
                            <ul>
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <a href="product-details.html"><img src="{% static 'img/product/1.png' %}" alt="#"></a>
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="product-details.html">واحد 120 متری</a></h6>
                                            <div class="product-price">
                                                <span>5.000.000 تومان</span>
                                                <del>8.000.000 تومان</del>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <a href="product-details.html"><img src="{% static 'img/product/2.png' %}" alt="#"></a>
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="product-details.html">واحد 120 متری</a></h6>
                                            <div class="product-price">
                                                <span>5.000.000 تومان</span>
                                                <del>8.000.000 تومان</del>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <a href="product-details.html"><img src="{% static 'img/product/2.png' %}" alt="#"></a>
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="product-details.html">واحد 120 متری</a></h6>
                                            <div class="product-price">
                                                <span>5.000.000 تومان</span>
                                                <del>$65.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <a href="product-details.html"><img src="{% static 'img/product/3.png' %}" alt="#"></a>
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="product-details.html">واحد 120 متری</a></h6>
                                            <div class="product-price">
                                                <span>5.000.000 تومان</span>
                                                <del>8.000.000 تومان</del>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Search Widget -->
                        <div class="widget ltn__search-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">موضوع جستجو</h4>
                            <form action="{% url 'listings:search' %}">
                                <input type="text" name="s" placeholder="جستجو برای ...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Tagcloud Widget -->
                        <div class="widget ltn__tagcloud-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">ابر برچسب</h4>
                            <ul>
                                <li><a href="#">املاک</a></li>
                                <li><a href="#">ملک</a></li>
                                <li><a href="#">رهن</a></li>
                                <li><a href="#">اجاره</a></li>
                                <li><a href="#">خرید</a></li>
                                <li><a href="#">فروش</a></li>
                                <li><a href="#">آپارتمان</a></li>
                                <li><a href="#">ویلایی</a></li>
                                <li><a href="#">مغازه</a></li>
                            </ul>
                        </div>
                        <!-- Size Widget -->
                        <div class="widget ltn__tagcloud-widget ltn__size-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">برچسب محبوب</h4>
                            <ul>
                                <li><a href="#">خرید</a></li>
                                <li><a href="#">فروش</a></li>
                                <li><a href="#">آپارتمان</a></li>
                                <li><a href="#">ویلایی</a></li>
                                <li><a href="#">مغازه</a></li>
                            </ul>
                        </div>
                        <!-- Color Widget -->
                        <div class="widget ltn__color-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">رنگ محصول</h4>
                            <ul>
                                <li class="black"><a href="#"></a></li>
                                <li class="white"><a href="#"></a></li>
                                <li class="red"><a href="#"></a></li>
                                <li class="silver"><a href="#"></a></li>
                                <li class="gray"><a href="#"></a></li>
                                <li class="maroon"><a href="#"></a></li>
                                <li class="yellow"><a href="#"></a></li>
                                <li class="olive"><a href="#"></a></li>
                                <li class="lime"><a href="#"></a></li>
                                <li class="green"><a href="#"></a></li>
                                <li class="aqua"><a href="#"></a></li>
                                <li class="teal"><a href="#"></a></li>
                                <li class="blue"><a href="#"></a></li>
                                <li class="navy"><a href="#"></a></li>
                                <li class="fuchsia"><a href="#"></a></li>
                                <li class="purple"><a href="#"></a></li>
                                <li class="pink"><a href="#"></a></li>
                                <li class="nude"><a href="#"></a></li>
                                <li class="orange"><a href="#"></a></li>

                                <li><a href="#" class="orange"></a></li>
                                <li><a href="#" class="orange"></a></li>
                            </ul>
                        </div>
                        <!-- Banner Widget -->
                        <div class="widget ltn__banner-widget d-none">
                            <a href="shop.html"><img src="{% static 'img/banner/banner-2.jpg' %}" alt="#"></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS AREA END -->

    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bg="{% static 'img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>به دنبال خانه رویایی هستید ؟</h1>
                            <p>ما می توانیم به شما کمک کنیم تا رویای خود را برای یک خانه جدید محقق کنید</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="contact.html">مشاهده ملک های بیشتر <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

{% endblock %}