<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quarter - قالب مشاور املاک</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-5) -->
    <header class="ltn__header-area ltn__header-5 ltn__header-transparent--- gradient-color-4---">
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area section-bg-6 top-area-color-white---">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i> info@webmail.com</a></li>
                                <li><a href="locations.html"><i class="icon-placeholder"></i>ایران، البرز، کرج</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-right">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li class="d-none">
                                        <!-- ltn__language-menu -->
                                        <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                                            <ul>
                                                <li><a href="#" class="dropdown-toggle"><span class="active-currency">زبان</span></a>
                                                    <ul>
                                                        <li><a href="#">عربی</a></li>
                                                        <li><a href="#">انگلیسی</a></li>
                                                        <li><a href="#">چینی</a></li>
                                                        <li><a href="#">انگلیسی</a></li>
                                                        <li><a href="#">فرانسه</a></li>
                                                        <li><a href="#">هندی</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                
                                                <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- header-top-btn -->
                                        <div class="header-top-btn">
                                            <a href="add-listing.html">ارسال آگهی</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->
        
        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
                            </div>
                            <div class="get-support clearfix d-none">
                                <div class="get-support-icon">
                                    <i class="icon-call"></i>
                                </div>
                                <div class="get-support-info">
                                    <h6>پشتیبانی</h6>
                                    <h4><a href="tel:+123456789">0261234567</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col header-menu-column">
                        <div class="header-menu d-none d-xl-block">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li class="menu-icon"><a href="#">صفحه اصلی</a>
                                            <ul class="sub-menu menu-pages-img-show">
                                                <li>
                                                    <a href="index.html">صفحه اصلی استایل 1</a>
                                                    <img src="img/home-demos/home-1.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-2.html">صفحه اصلی استایل 2</a>
                                                    <img src="img/home-demos/home-2.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-3.html">صفحه اصلی استایل 3</a>
                                                    <img src="img/home-demos/home-3.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-4.html">صفحه اصلی استایل 4</a>
                                                    <img src="img/home-demos/home-4.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-5.html">صفحه اصلی استایل 5 <span class="menu-item-badge">ویدیو</span></a>
                                                    <img src="img/home-demos/home-5.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-6.html">صفحه اصلی استایل 6</a>
                                                    <img src="img/home-demos/home-6.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-7.html">صفحه اصلی استایل 7</a>
                                                    <img src="img/home-demos/home-7.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-8.html">صفحه اصلی استایل 8</a>
                                                    <img src="img/home-demos/home-8.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-9.html">صفحه اصلی استایل 9</a>
                                                    <img src="img/home-demos/home-9.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-10.html">صفحه اصلی استایل 10 <span class="menu-item-badge">مپ</span></a>
                                                    <img src="img/home-demos/home-10.jpg" alt="#">
                                                </li>
                                                <li>
                                                    <a href="index-11.html">صفحه اصلی استایل 11</a>
                                                    <img src="img/home-demos/home-11.jpg" alt="#">
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">درباره ما</a>
                                            <ul>
                                                <li><a href="about.html">درباره ما</a></li>
                                                <li><a href="service.html">سرویس</a></li>
                                                <li><a href="service-details.html">جزئیات سرویس</a></li>
                                                <li><a href="portfolio.html">نمونه کار 1</a></li>
                                                <li><a href="portfolio-2.html">نمونه کار 2</a></li>
                                                <li><a href="portfolio-details.html">جزئیات نمونه کار</a></li>
                                                <li><a href="team.html">تیم</a></li>
                                                <li><a href="team-details.html">جزئیات تیم</a></li>
                                                <li><a href="faq.html">سوالات متداول</a></li>
                                                <li><a href="locations.html">لوکیشن گوگل مپ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">فروشگاه</a>
                                            <ul>
                                                <li><a href="shop.html">فروشگاه</a></li>
                                                <li><a href="shop-grid.html">فروشگاه شبکه</a></li>
                                                <li><a href="shop-left-sidebar.html">فروشگاه سایدبار چپ</a></li>
                                                <li><a href="shop-right-sidebar.html">فروشگاه سایدبار راست</a></li>
                                                <li><a href="product-details.html">جزئیات فروشگاه </a></li>
                                                <li><a href="#">صفحات دیگر <span class="float-right">>></span></a>
                                                    <ul>
                                                        <li><a href="cart.html">سبد خرید</a></li>
                                                        <li><a href="wishlist.html">علاقه مندی</a></li>
                                                        <li><a href="checkout.html">بررسی مجدد</a></li>
                                                        <li><a href="order-tracking.html">رهگیری سفارش</a></li>
                                                        <li><a href="account.html">اکانت من</a></li>
                                                        <li><a href="login.html">ورود</a></li>
                                                        <li><a href="register.html">ثبت نام</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">اخبار</a>
                                            <ul>
                                                <li><a href="blog.html">اخبار</a></li>
                                                <li><a href="blog-grid.html">اخبار شبکه</a></li>
                                                <li><a href="blog-left-sidebar.html">اخبار سایدبار چپ</a></li>
                                                <li><a href="blog-right-sidebar.html">اخبار سایدبار راست</a></li>
                                                <li><a href="blog-details.html">جزئیات اخبار</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">صفحات</a>
                                            <ul class="mega-menu">
                                                <li><a href="#">صفحات داخلی</a>
                                                    <ul>
                                                        <li><a href="portfolio.html">نمونه کار 1</a></li>
                                                        <li><a href="portfolio-2.html">نمونه کار 2</a></li>
                                                        <li><a href="portfolio-details.html">جزئیات نمونه کار</a></li>
                                                        <li><a href="team.html">تیم</a></li>
                                                        <li><a href="team-details.html">جزئیات تیم</a></li>
                                                        <li><a href="faq.html">سوالات متداول</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">صفحات داخلی</a>
                                                    <ul>
                                                        <li><a href="history.html">تاریخچه</a></li>
                                                        <li><a href="add-listing.html">ارسال آگهی</a></li>
                                                        <li><a href="locations.html">لوکیشن گوگل مپ</a></li>
                                                        <li><a href="404.html">404</a></li>
                                                        <li><a href="contact.html">تماس با ما</a></li>
                                                        <li><a href="coming-soon.html">به زودی</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">صفحه فروشگاه</a>
                                                    <ul>
                                                        <li><a href="shop.html">فروشگاه</a></li>
                                                        <li><a href="shop-left-sidebar.html">فروشگاه سایدبار چپ</a></li>
                                                        <li><a href="shop-right-sidebar.html">فروشگاه سایدبار راست</a></li>
                                                        <li><a href="shop-grid.html">فروشگاه شبکه</a></li>
                                                        <li><a href="product-details.html">جزئیات فروشگاه </a></li>
                                                        <li><a href="cart.html">سبد خرید</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="shop.html"><img src="img/banner/menu-banner-1.jpg" alt="#"></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">تماس با ما</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="ltn__header-options ltn__header-options-2 mb-sm-20">
                        <!-- header-search-1 -->
                        <div class="header-search-wrap">
                            <div class="header-search-1">
                                <div class="search-icon">
                                    <i class="icon-search for-search-show"></i>
                                    <i class="icon-cancel  for-search-close"></i>
                                </div>
                            </div>
                            <div class="header-search-1-form">
                                <form id="#" method="get" action="#">
                                    <input type="text" name="search" value="" placeholder="جستجو برای ...">
                                    <button type="submit">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- user-menu -->
                        <div class="ltn__drop-menu user-menu">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-user"></i></a>
                                    <ul>
                                        <li><a href="login.html">ورود</a></li>
                                        <li><a href="register.html">ثبت نام</a></li>
                                        <li><a href="account.html">اکانت من</a></li>
                                        <li><a href="wishlist.html">علاقه مندی</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- mini-cart -->
                        <div class="mini-cart-icon">
                            <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                                <i class="icon-shopping-cart"></i>
                                <sup>2</sup>
                            </a>
                        </div>
                        <!-- mini-cart -->
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-xl-none">
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewbox="0 0 800 600">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
    </header>
    <!-- HEADER AREA END -->

    <!-- Utilize Cart Menu Start -->
    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title">سبد خرید</span>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/1.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">آپارتمان 60 متری در عظیمیه</a></h6>
                        <span class="mini-cart-quantity">3.000.000.000 تومان</span>
                    </div>
                </div>
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/2.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">آپارتمان 95 متری در گلشهر</a></h6>
                        <span class="mini-cart-quantity">1.850.000.000 تومان</span>
                    </div>
                </div>
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/3.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">واحد 85 متری در مترو کرج</a></h6>
                        <span class="mini-cart-quantity">1.100.000.000 تومان</span>
                    </div>
                </div>
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="img/product/4.png" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">واحد 60 متری در گوهردشت</a></h6>
                        <span class="mini-cart-quantity">1.500.000.000 تومان</span>
                    </div>
                </div>
            </div>
            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5>مجموع: <span>7.450.000.000 تومان</span></h5>
                </div>
                <div class="btn-wrapper">
                    <a href="cart.html" class="theme-btn-1 btn btn-effect-1"> سبد خرید</a>
                    <a href="cart.html" class="theme-btn-2 btn btn-effect-2">بررسی مجدد</a>
                </div>
                <p>جهت دریافت مشاوره بیشتر تماس بگیرید</p>
            </div>

        </div>
    </div>
    <!-- Utilize Cart Menu End -->

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="ltn__utilize-menu-search-form">
                <form action="#">
                    <input type="text" placeholder="جستجو برای ...">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="#">صفحه اصلی</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">صفحه اصلی استایل 1</a></li>
                            <li><a href="index-2.html">صفحه اصلی استایل 2</a></li>
                            <li><a href="index-3.html">صفحه اصلی استایل 3</a></li>
                            <li><a href="index-4.html">صفحه اصلی استایل 4</a></li>
                            <li><a href="index-5.html">صفحه اصلی استایل 5  <span class="menu-item-badge">ویدیو</span></a></li>
                            <li><a href="index-6.html">صفحه اصلی استایل 6</a></li>
                            <li><a href="index-7.html">صفحه اصلی استایل 7</a></li>
                            <li><a href="index-8.html">صفحه اصلی استایل 8</a></li>
                            <li><a href="index-9.html">صفحه اصلی استایل 9</a></li>
                            <li><a href="index-10.html">صفحه اصلی استایل 10 <span class="menu-item-badge">مپ</span></a></li>
                            <li><a href="index-11.html">صفحه اصلی استایل 11</a></li>
                        </ul>
                    </li>
                    <li><a href="#">درباره ما</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="service.html">خدمات</a></li>
                            <li><a href="service-details.html">جزئیات خدمات</a></li>
                            <li><a href="portfolio.html">نمونه کار 1</a></li>
                            <li><a href="portfolio-2.html">نمونه کار 2</a></li>
                            <li><a href="portfolio-details.html">جزئیات نمونه کار</a></li>
                            <li><a href="team.html">تیم</a></li>
                            <li><a href="team-details.html">جزئیات تیم</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><a href="locations.html">لوکیشن گوگل مپ</a></li>
                        </ul>
                    </li>
                    <li><a href="#">فروشگاه</a>
                        <ul class="sub-menu">
                            <li><a href="shop.html">فروشگاه</a></li>
                            <li><a href="shop-grid.html">فروشگاه شبکه</a></li>
                            <li><a href="shop-left-sidebar.html">فروشگاه سایدبار چپ</a></li>
                            <li><a href="shop-right-sidebar.html">فروشگاه سایدبار راست</a></li>
                            <li><a href="product-details.html">جزئیات فروشگاه </a></li>
                            <li><a href="cart.html">سبد خرید</a></li>
                            <li><a href="wishlist.html">علاقه مندی</a></li>
                            <li><a href="checkout.html">بررسی مجدد</a></li>
                            <li><a href="order-tracking.html">رهگیری سفارش</a></li>
                            <li><a href="account.html">اکانت من</a></li>
                            <li><a href="login.html">ورود</a></li>
                            <li><a href="register.html">ثبت نام</a></li>
                        </ul>
                    </li>
                    <li><a href="#">اخبار</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">اخبار</a></li>
                            <li><a href="blog-grid.html">اخبار شبکه</a></li>
                            <li><a href="blog-left-sidebar.html">اخبار سایدبار چپ</a></li>
                            <li><a href="blog-right-sidebar.html">اخبار سایدبار راست</a></li>
                            <li><a href="blog-details.html">جزئیات اخبار</a></li>
                        </ul>
                    </li>
                    <li><a href="#">صفحات</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="service.html">سرویس</a></li>
                            <li><a href="service-details.html">جزئیات سرویس</a></li>
                            <li><a href="portfolio.html">نمونه کار 1</a></li>
                            <li><a href="portfolio-2.html">نمونه کار 2</a></li>
                            <li><a href="portfolio-details.html">جزئیات نمونه کار</a></li>
                            <li><a href="team.html">تیم</a></li>
                            <li><a href="team-details.html">جزئیات تیم</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><a href="history.html">تاریخچه</a></li>
                            <li><a href="add-listing.html">ارسال آگهی</a></li>
                            <li><a href="locations.html">لوکیشن گوگل مپ</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                            <li><a href="coming-soon.html">به زودی</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">تماس با ما</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="account.html" title="اکانت من">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
                            اکانت من
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" title="علاقه مندی">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                                <sup>3</sup>
                            </span>
                            علاقه مندی
                        </a>
                    </li>
                    <li>
                        <a href="cart.html" title="سبد خرید">
                            <span class="utilize-btn-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <sup>5</sup>
                            </span>
                            سبد خرید
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="فیسبوک"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="توییتر"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="لینکدین"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" title="اینستاگرام"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image mb-0"  data-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">لوکیشن گوگل مپ</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> صفحه اصلی</a></li>
                                <li>لوکیشن گوگل مپ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- GOOGLE MAP LOCATIONS AREA START -->
    <div class="ltn__google-map-locations-area">
        <div id="gmap"></div>
    </div>
    <!-- GOOGLE MAP LOCATIONS AREA END -->

    <!-- GOOGLE MAP LOCATIONS LIST AREA START -->
    <div class="ltn__google-map-locations-list-area mt-115 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__location-search mb-100">
                        <div class="section-title-area ltn__section-title-2 ">
                            <h1 class="section-title">ملک خود را پیداکنید با<span>  املاک ما</span></h1>
                        </div>
                        <form action="#" class="clearfix">
                            <h3>استان البرز</h3>
                            <div class="input-item">
                                <select class="nice-select">
                                    <option>موقعیت را انتخاب کنید</option>
                                    <option>عظیمیه</option>
                                    <option>گوهردشت</option>
                                    <option>باغستان</option>
                                    <option>شاهین ویلا</option>
                                    <option>گلشهر</option>
                                    <option>بنیاد</option>
                                    <option>طالقانی</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__state-location">
                        <h2 class="ltn__state-location-title">شعب املاک ما</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="ltn__state-location">
                        <h2 class="ltn__state-location-title">شعب دوم</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="ltn__state-location">
                        <h2 class="ltn__state-location-title">شعبه سوم</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__map-item">
                        <h3 class="ltn__location-name">شعبه کرج</h3>
                        <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>عظیمیه<br>گلستان 12</h5>
                        <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>0123456789</h4>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> قرار ملاقات رزرو کنید</a>
                            <a href="#" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> وبسایت شعبه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GOOGLE MAP LOCATIONS LIST AREA END -->

    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>به دنبال خانه رویایی هستید ؟</h1>
                            <p>ما می توانیم به شما کمک کنیم تا رویای خود را برای یک خانه جدید محقق کنید</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="contact.html">مشاهده ملک های بیشتر <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img src="img/logo-2.png" alt="Logo">
                                </div>
                            </div>
                            <p>لورم ایپسوم متن ساختگی است و در هر زمان میتوانید آن را ویرایش کنید و یا تغییر دهید.</p>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>ایران، البرز، کرج</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:0261234567">0261234567</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="https://webss.ir">info@site.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="#" title="فیسبوک"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="توییتر"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="لینکدین"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="یتویوب"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">کمپانی</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="blog.html">وبلاگ</a></li>
                                    <li><a href="shop.html">تمام ملک ها</a></li>
                                    <li><a href="locations.html">لوکیشن</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">خدمات ما</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="order-tracking.html">رهگیری سفارش</a></li>
                                    <li><a href="wishlist.html">علاقه مندی</a></li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="account.html">اکانت من</a></li>
                                    <li><a href="about.html">شرایط و ضوابط</a></li>
                                    <li><a href="about.html">پیشنهادات تبلیغاتی</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">واحد مشتری</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="account.html">اکانت من</a></li>
                                    <li><a href="wishlist.html">علاقه مندی</a></li>
                                    <li><a href="order-tracking.html">رهگیری سفارش</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                        <div class="footer-widget footer-newsletter-widget">
                            <h4 class="footer-title">اخبار</h4>
                            <p>در خبرنامه هفتگی ما مشترک شوید و به روز رسانی ها را از طریق ایمیل دریافت کنید.</p>
                            <div class="footer-newsletter">
                                <form action="#">
                                    <input type="email" name="email" placeholder="ایمیل*">
                                    <div class="btn-wrapper">
                                        <button class="theme-btn-1 btn" type="submit"><i class="fas fa-location-arrow"></i></button>
                                    </div>
                                </form>
                            </div>
                            <h5 class="mt-30">پذیرش املاک ما</h5>
                            <img src="img/icons/payment-4.png" alt="Payment Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>تمامی حقوق برای طراحان وب محفوظ است <span class="current-year"></span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-right">
                            <ul>
                                <li><a href="#">شرایط و ضوابط</a></li>
                                <li><a href="#">مطالبه</a></li>
                                <li><a href="#">سیاست حریم خصوصی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->

</div>
<!-- Body main wrapper end -->

    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <!-- Maplace-active -->
    <script src="js/maplace-active.js"></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeeHDCOXmUMja1CFg96RbtyKgx381yoBU"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
  
</body>
</html>

